.summary {
  outline: none;
  list-style: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-4) 0;
}

.summary::marker {
  content: none;
}
.details {
  border: 1px solid var(--gray-5);
  padding: 0 var(--space-4);
}
/* .details[open] > .summary {
  font-weight: var(--font-weight-bold);
} */
.details:first-of-type {
  border-top-right-radius: var(--radius-4);
  border-top-left-radius: var(--radius-4);
}
.details:last-of-type {
  border-bottom-right-radius: var(--radius-4);
  border-bottom-left-radius: var(--radius-4);
}
.details + .details {
  border-top: none;
}
