// .loader {
//   width: 25px;
//   padding: 8px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   background: var(--accent-9);
//   --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
//   -webkit-mask: var(--_m);
//   mask: var(--_m);
//   -webkit-mask-composite: source-out;
//   mask-composite: subtract;
//   animation: l3 1s infinite linear;
// }
// @keyframes l3 {
//   to {
//     transform: rotate(1turn);
//   }
// }

.loader {
  animation: glow 1.5s ease-in-out infinite;
  background-color: var(--color-panel);
  border-radius: var(--radius-4);
  color: transparent;
  height: 100px;
}

@media (prefers-color-scheme: light) {
  .loader {
    background-color: var(--gray-4);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
