.root {
  grid-template-areas:
    "one two"
    "one three";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 1fr;
}

.loader {
  animation: glow 1.5s ease-in-out infinite;
  background-color: var(--color-panel);
  border-radius: var(--radius-4);
  color: transparent;
  &-1 {
    grid-area: one;
  }

  &-2 {
    grid-area: two;
  }

  &-3 {
    grid-area: three;
  }
}

@media (prefers-color-scheme: light) {
  .loader {
    background-color: var(--gray-4);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
